.content{
    height: 195px;
    padding: 20px 0 0 0;
    border-bottom: 2px #eee solid;
}
.logo{
    float: left;
    margin-top: 40px;
}
.content .jindu{
    float: right;
    width: 500px;
    height: 30px;
    margin-right: 50px;
}
.content .jindu ul li{
    float: left;
}
.content .jindu ul li:nth-child(2n){
    width: 90px;
    height: 1;
    border: 1px #eee solid;
    position: relative;
    top: 12px;
    margin-left: 5px;
    margin-right: 5px;
}
.content .jindu ul li:nth-child(2n-1){
    width: 30px;
    height: 30px;
    border: 1px #888 solid;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}
.content .jindu ul li:nth-child(1){
    background-color: rgb(230, 169, 57);
    color: #fff;
}
.content .txt_xinxi{
    position: absolute;
    right: 400px;
    top: 90px;
}
.content .txt_xinxi ul li{
    float: left;
    width: 130px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}
.content .txt_xinxi ul li:nth-child(1){
    color:  rgb(230, 169, 57);
}
.content .foot{
    position: relative;
    top: 150px;
    left: 10px;
    width: 1179px;
}

.content .foot a{
    position: absolute;
    right:10px;
    color: rgb(66, 66, 235);
}
.content .foot a:hover{
    color: red;
}
.jisong{
    height: 30px;
    line-height: 30px;
    background-color: #fff0e8;
    position: relative;
}
.jisong  span{
    color: #ff444b;
    font-weight: 700;
    padding-left: 5px;
}
.jisong i{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(98, 98, 241);
    margin: 5px 0 0 0;
}
.jisong u{
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px 0 0 0;
    z-index: 1;
}
.jisong a{
    margin-left: 25px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(98, 98, 241);
}
.jisong a b{
    color: #888;
}
.jisong strong{
    position: absolute;
    right: 15px;
    color: rgb(98, 98, 241);
}
.jisong strong a:hover{
    color: #ff444b;
}
.dizhi{
    height: 290px;
    padding-left: 100px;
    position: relative;
    margin-top: 10px;
}
.dizhi ul li{
    height: 40px;
    line-height: 40px;
}
.dizhi ul li i{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px 0 0 0;
    border: 1px #ccc solid;
}
.dizhi ul li a{
    margin-left: 25px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(56, 54, 54);
}
.dizhi ul li a b{
    color: #888;
}
.dizhi ul li:nth-child(4) a{
    color:  rgb(98, 98, 241);
    font-weight: 400;
}
.dizhi ul li:nth-child(4) a:hover{
    color: red;
}
.dizhi .yizhandaishou{
    height: 80px;
    margin-top: 50px;
    
}
.dizhi .yizhandaishou > span{
    border-bottom: 2px orange solid;
    padding: 0 5px;
    cursor: pointer;
}
.dizhi .yizhanxuanze{
    border-top: 1px rgb(170, 166, 166) solid;
    padding-top: 5px;
}
.dizhi .yizhanxuanze span{
    cursor: pointer;
}
.dizhi .yizhanxuanze input{
    position: relative;
    top: 3px;
    width: 15px;
    height: 15px;
    margin-top: 3px;
}
.dizhi .yizhanxuanze a{
    color: blue;
    float: right;
    margin-right: 20px;
}
.dizhi .yizhanxuanze a:hover{
    color: red;
}
.dingdan{
    height: 700px;
}
.dingdan h6{
    color: #000;
}
.dingdan ul li{
    float: left;
    padding: 0 80px;
    border-bottom: 3px solid #b2d1ff;
    margin:  20px 0 20px 1px;
}
.fudong{
    clear: both;
}
.dingdan .xinxi{
    position: relative;
    width: 100%;
    height:245px;
}
.dingdan .xinxi > img{
    width: 15px;
}
.dingdan .xinxi ul{
    margin-top: 10px;
    height: 85px;
    border-top: 1px dotted #b2d1ff;
    border-bottom: 1px dotted #b2d1ff;
}
.dingdan .xinxi ul li{
    position: relative;
    top: -10px;
    padding: 0;
    width: 205px;
    text-align: center;
    border: 0;
}
.dingdan .xinxi ul li:nth-child(1){
    text-align: left;
}
.dingdan .xinxi ul li > img{
    width: 60px;
}
.dingdan .xinxi ul li .mingcheng{
    position: absolute;
}
.dingdan .xinxi ul li span{
    position: absolute;
    bottom: 2px;
    left: 60px;
}
.dingdan .xinxi ul .shuliang{
    width: 160px;
    /* margin-top: 15px; */
}
.dingdan .xinxi ul .shuliang button{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px rgb(155, 151, 151) solid;
    border-radius: 3px;
}
.dingdan .xinxi ul .shuliang input{
    width: 30px;
    height: 30px;
    border: rgb(155, 151, 151) 1px solid;
    text-align: center;
}
.dingdan .xinxi ul li select{
    height: 30px;
    border: 1px rgb(155, 151, 151) solid;
    border-radius: 3px;
    outline: none;
}
.dingdan .xinxi ul li:nth-child(6){
    font-size: 16px;
    font-weight: 700;
}
.dingdan .xinxi .feiyong{
    position: absolute;
    left: 0px;
    margin: 2px 0;
    border-bottom: 1px dotted #b2d1ff;
}
.dingdan .xinxi .feiyong .left{
    float: left;
    height: 82px;
    width: 599px;
    background-color: #f2f7ff;
    padding-left: 10px;
    padding-top: 8px;
    margin: 1px;
}
.dingdan .xinxi .feiyong .left label{
    position: relative;
    top: -30px;
}
.dingdan .xinxi .feiyong .left textarea{
    border: 1px solid rgb(148, 146, 146);
    padding: 8px 10px;
    color:  rgb(148, 146, 146);
    border-radius: 3px;
    outline: none;
    resize: none;
}
.dingdan .xinxi .feiyong .right_top,
.dingdan .xinxi .feiyong .right_bottom{
    float: right;
    height: 40px;
    width: 597px;
    background-color: #f2f7ff;
    margin: 1px;
    padding: 0 10px;
    line-height: 40px;
}
.dingdan .xinxi .feiyong .right_top a{
    float: right;
    color:  #ff444b;
    font-weight: 700;
}
.dingdan .xinxi .feiyong .right_bottom input{
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}
.dingdan .xinxi .feiyong .right_bottom a{
    float: right;
    color:  #000;
    font-weight: 700;
}
.dingdan .xinxi .feiyong .foot{
    float: left;
    width: 1200px;
    height: 40px;
    background-color: #f2f7ff;
    margin: 1;
    text-align: right;
    line-height: 40px;
    font-size: 14px;
    color: #000;
}
.dingdan .xinxi .feiyong .foot a{
    color:  #ff444b;
    font-weight: 700;
}
.dingdan .taobaobi{
    height: 55px;
    text-align: right;
    padding-right: 100px;
    line-height: 25px;
    border-bottom: 1px rgb(160, 158, 158) dotted;
}
.dingdan .taobaobi span input,
.dingdan .taobaobi span a,
.dingdan .taobaobi span b{
    position: relative;
    top: 5px;
    left: 35px;
}
.dingdan .taobaobi span input{
    top: 8px;
}
.dingdan .taobaobi span b{
    position: relative;
    left: 90px;
    color:  #ff444b;
    font-size: 13px;
}
.dingdan .jiezhang{
    height: 50px;
    text-align: right;
    padding-right: 30px;
    line-height: 50px;
    border-bottom: 1px rgb(160, 158, 158) dotted;
}
.dingdan .jiezhang input{
    position: relative;
    top: 2px;
    margin-left: 20px;
}
.dingdan .tijiao{
    height: 300px;
}
.dingdan .tijiao .fukuan{
    float: right;
    width: 420px;
    height: 150px;
    padding: 30px 10px 0 0;
    margin-top: 10px;
    text-align: right;
    border: 1px #ff444b solid;
    line-height: 30px;
    box-shadow: 1px 1px 5px 1px rgb(216, 214, 214) inset;
}
.dingdan .tijiao .fukuan .top b,
.dingdan .tijiao .fukuan .bottom b{
    color: #000;
}
.dingdan .tijiao .fukuan .top a{
    /* position: relative; */
    color:  #ff444b;
    font-size: 25px;
}
.dingdan .tijiao button{
    float: right;
    width: 200px;
    height: 40px;
    margin-left: 1000px;
    background-color: #ff5000;
    color: #fff;
}
.dingdan .tijiao span{
    float: right;
    margin-top: 10px;
}
