.w {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo {
    padding-top: 18px;
}
.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}
.zhuce {
    float: right;
    font-size: 14px;
}
.zhuce a {
    color: #c81523;
}
.registerarea .saoma_login{
    float: left;
    position: relative;
    width: 600px;
    height: 480px;
    text-align: center;
    border-right: 2px #eee dotted;
}
.registerarea .saoma_login h4{
    margin-top: 35px;
    font-size: 25px;
}
.registerarea .saoma_login div{
    position: absolute;
    left: 50%;
    top: 50%;
    float: left;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
}
.registerarea .saoma_login div img{
    width: 100%;
}
.registerarea .saoma_login div p{
    margin-top: 10px;
    text-align: center;
}
.registerarea .txt_login {
    float: right;
    width: 598px;
    padding-left: 100px;
}
.registerarea .txt_login h4{
    margin: 105px 0 30px 120px;
    font-size: 25px;
}
.txt_login ul li {
    margin-bottom: 20px;
}
.txt_login ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.txt_login ul li .inp {
    width: 227px;
    height: 37px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-radius: 3px;
}
.txt_login ul li button {
    width: 227px;
    height: 37px;
    background-color: #409EFF;
    font-size: 14px;
    color: #fff;
    margin: 10px 0 0 95px;
    border-radius: 3px;
}
.txt_login p .ps{
    color: #c81523;
    margin-left: 130px;
}
.txt_login p .psa{
    color: #c81523;
}
.txt_login .zhuce{
    position: relative;
    right: 230px;
    top: 30px;
    width: 125px;
    height: 20px;
    
}
.txt_login .zhuce span{
    border-right: 1px #888 solid;
    padding-right: 5px;
   
}
.txt_login .zhuce span a{
    color: #888;
}
.txt_login .zhuce span a:hover{
    color: red;
}
.txt_login .zhuce span:nth-child(2){
    border: 0;
    padding: 0;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
}
.links {
    margin-bottom: 15px;
}
.links a {
    margin: 0 3px;
}
.copyright {
    line-height: 20px;
}

