.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 1px solid #c81523;
    padding: 3px 0 0 14px;
}

.nav {
    height: 50px;
    background-color: #000;
}
.nav .chanpin_nav{
    overflow: hidden;
    height: 50px;
}
.nav .chanpin_nav a{
    float: left;
    display: block;
    width: 133px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
}
.nav .chanpin_nav a:hover{
    background-color: rgb(35, 111, 224);
}
.nav .bottom_nav{
    background-color: #eee;
}
.nav .pinpai_nav{
    /* width: 100%; */
    height: 45px;
    padding-left: 40px;
    background-color: #eee;
}
.nav .pinpai_nav ul li{
    float: left;
    line-height: 45px;
    padding: 0 5px;
}
.nav .pinpai_nav ul li a{ 
    color: #888;
}
.nav .pinpai_nav ul li a:hover{
    color: red;
}
.nav .pinpai_nav ul li a select{
    width: 90px;
    border-color: #ccc;
    outline: none;
    color: #888;
}
.nav .pinpai_nav {
    margin-bottom: 10px;
}
.nav .pinpai_nav ol{
    margin-right: 30px;
}
.nav .pinpai_nav ol li{
    float: right;
    line-height: 45px;
    padding: 0 10px;
    
}
.nav .pinpai_nav ol li:nth-child(4) a{
    color: #fff;
    background-color:red;
}
.nav .pinpai_nav ol li img{
    height: 20px;
    margin-bottom: 3px;
}
.content{
    overflow: hidden;
    height: 720px;
    margin-top: 60px;
}
.content .content_left{
    float: left;
    width: 400px;
    height: 450px;
    border: 2px #eee solid;
    border-bottom: 0;
}
.content_left img{
    width: 100%;
    height: 100%;
}
.content .content_left .little{
    width: 400px;
    height: 80px;
    line-height: 90px;
    border: 2px #eee solid;
    border-top: 1px #eee double;
    margin-left: -2px;
    margin-bottom: 20px;
}
.content .content_left .little img{
    width: 57px;
    height: 57px;
    margin-left: 5px;
    margin-top: -20px;
}
.content .content_left .little a:nth-child(1) img,
.content .content_left .little a:nth-child(7) img{
    height: 57px;
    width: 30px;
    margin-left:0;
}
.content .content_left .little a img:hover{
    border: 1px red solid;
}
.content .content_left .little a:nth-child(1) img:hover,
.content .content_left .little a:nth-child(7) img:hover{
    border: 0;
}
.content .content_left span img{
    width: 15px;
    height: 15px;
    margin-left: 20px;
}
.content .content_left .jubao{
    float: right;
    margin-right: 30px;
    font-size: 12px;
}
.content .content_left .jubao:hover{
    text-decoration: underline;
}
.content .content_right{
    float: right;
    width: 798px;
    height: 598px;
    padding-left: 30px;
}
.content .content_right p{
    font-size: 16px;
}
.content .content_right span{
    color: rgb(241, 54, 54);
}
.content .content_right span b a{
    color: cornflowerblue;
    text-decoration: underline;
}
.content .content_right .maney{
    height: 90px;
    background-color: #f3f3f3;
    margin-top: 5px;
    padding-left: 10px;
}
.content .content_right .maney .jd{
    float: left;
    width: 663px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
    border-right: 1px rgb(219, 212, 212) solid;

}
.content .content_right .maney .jd span{
    font-size: 25px;
    margin-right: 10px;
    margin-left: 5px;
}
.content .content_right .maney .jd a{
    font-size: 12px;
    color: cornflowerblue;
}
.content .content_right .maney .leijia{
    float: left;
    font-size: 12px;
    padding: 0 20px;
    margin-top: 6px;
}
.content .content_right .maney .leijia a{
    font-size: 14px;
    color: rgb(62, 144, 221);
}
.content .content_right .maney .leijia a:hover{
    color: rgb(231, 68, 68);
}
.content .content_right .maney .cx{
    float: left;
    width: 650px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-left: 5px;

}
.content .content_right .maney .cx span{
    font-size: 12px;
    margin-right: 10px;
    margin-left: 5px;
    border: 1px red solid;
}
.content .content_right .maney .cx b{
    font-size: 12px;
    color: #888;
    font-weight: 400;
}
.content .content_right .tainxie{
    height: 220px;
    border-bottom: 1px #ccc dotted;
}
.content .content_right .tainxie table{
    padding-left: 10px;
}
.content .content_right .tainxie table td{
    text-align: left;
    padding: 7px 0;
}
.content .content_right .tainxie table td a{
    color: rgb(110, 110, 223);
    border-right: 2px #ccc solid;
    padding-right: 10px;
}

.content .content_right .xuanze{
    margin-top: 10px;
    height: 250px;
    border-bottom: 1px #ccc dotted;
}
.content .content_right .xuanze table td{
    text-align: left;
    padding: 5px 5px;
}
.content .content_right .xuanze table td select{
    padding: 8px 5px;
    border: 1px #eee solid;
}
.content .content_right .xuanze table td a{
    display: inline-block;
    padding: 8px 10px;
    border: 1px #eee solid;
}
.content .content_right .xuanze table td a:hover{
    border: 1px red solid;
}
.content .content_right .xuanze table td select:hover{
    border: 1px red solid;
    cursor: pointer;
}
.content .content_right .button{
    width: 200px;
    height: 40px;
    background-color: #409EFF;
    margin: 20px 0  0;
    border-radius: 2px;
    cursor: pointer;
		color: #fff;
		font-size: 18px;
}
.content .content_right .button:hover{
    box-shadow: 1px 1px 2px 2px #ccc;
}